body, div, ul, li, p {
	padding: 0;
	margin: 0;
}

#header {
	height: 70px;
	width: 100%;
	color: rgb(255,255,255);
	background-color: rgb(223,42,71);
	font-family: "Neuzeit S LT W01 Book";
}

#header h1 {
	font-size: 1.5em;
	margin: 0 20px;
	line-height: 70px;
	position: fixed;
}

#header p {

	font-size: 1.5em;
	line-height: 70px;
	position: fixed;
	cursor: pointer;
	right: 20px;
}

#page {
	height: 100%;
	min-height: 600px;
	width: 2560px;
}

#content {
	overflow: hidden;
	width: 100%;
}

#content ul {
	margin: 0;
	padding: 0;
}

.volume-wrapper {
	float: left;
	height: 100%;
	width: 320px;
	transition: 0.5s ease-in-out;
}

.volume-wrapper:hover {
	/*padding: 0 50px;*/
}

.volume-wrapper img {
	width: 100%;
	vertical-align: bottom;
}

#simple, #change, #open {
	background-color: rgb(231,164,62);
}

#better, #adventurous, #iterate {
	background-color: rgb(127,199,198);
}

#collaborate, #tinkering {
	background-color: rgb(52,52,53);
}

@media all and (max-width: 400px) {

	#page, .volume-wrapper {
		width: 400px;
	}

	.volume-wrapper {
		max-height: 500px;
	}

}