body, div, ul, li, p, figure {
	padding: 0;
	margin: 0;
}

#header {
	height: 70px;
	width: 100%;
	color: rgb(255,255,255);
	background-color: rgb(223,42,71);
	font-family: "Neuzeit S LT W01 Book";
	position: fixed;
	z-index: 1;
}

#header h1 {
	font-size: 1.5em;
	margin: 0 20px;
	line-height: 70px;
	position: fixed;
}

#header p {

	font-size: 1.5em;
	line-height: 70px;
	position: fixed;
	cursor: pointer;
	right: 20px;
}

#page {
	height: 100%;
	min-height: 600px;
	width: 2560px;
}

#content {
	overflow: hidden;
	width: 100%;
}

#content ul {
	margin: 0;
	padding: 0;
}

#content li {
	color: rgb(255,255,255);
	font-family: "NeuzeitSLTW01-BookHeavy";
	font-size: 1.5em;
}

#content h2 {
	margin: 120px 50px 50px 50px;
}

.volume-wrapper {
	position: relative;
	float: left;
	height: 100%;
	width: 320px;
	transition: 0.5s ease-in-out;
	overflow: hidden;
}

.volume-wrapper:hover {
	/*padding: 0 50px;*/
}

.volume-wrapper figure {
	position: absolute;
}

.volume-wrapper img {
	width: 100%;
}

#simple, #change, #open {
	background-color: rgb(231,164,62);
}

#better, #adventurous, #iterate {
	background-color: rgb(127,199,198);
}

#collaborate, #tinkering {
	background-color: rgb(52,52,53);
}

#simple figure {
	left: -120px;
	right: -30px;
	bottom: -50px;
}

#better figure {
	left: -50px;
	right: -80px;
	bottom: -50px;
}

#collaborate figure {
	left: -30px;
	right: -30px;
	bottom: -50px;
}

#adventurous figure {
	left: -80px;
	right: -100px;
	bottom: -50px;
}

#change figure {
	left: -80px;
	right: -80px;
	bottom: 0px;
}

#iterate figure {
	left: -20px;
	right: -20px;
	bottom: -30px;
}

#open figure {
	left: -50px;
	right: -80px;
	bottom: -200px;
}

#tinkering figure {
	left: -300px;
	right: -300px;
	bottom: -450px;
}

@media all and (max-width: 400px) {

	#page, .volume-wrapper {
		width: 400px;
	}

	.volume-wrapper {
		max-height: 500px;
	}

}